@tailwind components;

@layer components {
    .container {
        @apply flex justify-center gap-4 items-center flex-col-reverse
    }
    .card{
        @apply flex flex-col w-96 h-56
    }
    .card p{
        @apply text-gray-100 text-sm
    }
    .info input{
        @apply text-gray-500 italic text-xl border-none bg-transparent w-24
    }
    .card span{
        @apply w-full h-10 bg-gray-500 mt-9 
    }
    .info{
        @apply flex items-center p-4  justify-evenly
    }
    .name{
        @apply text-white w-full p-4 text-xl tracking-widest
    }
    .val{
        @apply text-sm tracking-widest ml-7 mt-2
    }
    .val input{
        @apply bg-transparent text-base text-gray-500
    }

    .card_front{
        @apply p-4 flex flex-col justify-between
    }
    .chip{
        @apply bg-gray-500 rounded w-14 h-10 mt-5 ml-5
    }

    .numCartao{
        @apply ml-5 mt-5 w-full italic text-2xl tracking-widest bg-transparent text-gray-500
    }
    .container_chip{
        @apply text-gray-500 flex gap-5 items-center 
    }
    .container_chip div:nth-child(2){
        @apply rotate-90 mt-5
    }
}

.card{
    backdrop-filter: blur(16px) saturate(100%);
    -webkit-backdrop-filter: blur(16px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.329);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.container{
    max-width: 500px;
    height: 500px;
    background-image: 
    radial-gradient(at 47% 55%, #b3009a 0, transparent 59%), 
    radial-gradient(at 82% 65%, #11192707 0, transparent 55%);
}

.my-atropos {
    width: 320px;
    height: 160px;
}

.card_front{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    z-index: 1;
}